* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: 'Nunito', sans-serif;
}
.cards {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.countryy{
  box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
}
.page-footer{
  background-color: rgb(39, 39, 39);
  }
  @media (min-width: 481px) and (max-width: 1024px){
    .fontt{
      font-size: 15px;
    }
    .fonttt{
      font-size: 15px;
    }
  }
  @media (max-width: 480px){
    .fontt{
      font-size: 15px;
    }
    .fonttt{
      font-size: 15px;
    }
  }

